body {
  margin: 0;
  padding: 0;
  background-color: #363636;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  color: #ffffff;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}
.nickname {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social-links {
  margin-top: 20px;
}
.social-link {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  display: block; /* Изменено на блочное отображение */
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px; /* Добавлен отступ между ссылками */
}
.social-link:hover {
  transform: scale(1.1);
}